.joinUsSection {
  text-align: center;
}
.headjoin {
  margin-top: 30vh;
  text-align: center;
}
.join {
  background-color: #000742;
  border: none;
  color: #f277d1;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-top: 3%;
}
