* {
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
}

.container {
  background: linear-gradient(to bottom left, #058bb8 0%, #14d9d9 100%);
  margin-top: 20%;
  width: 70%;
  text-align: left;
  box-sizing: border-box;
  padding: 100px;
  border-radius: 15px;
  color: #fff;
  font-size: 25px;
}
h1 {
  text-align: center;
}
.input,
.button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  outline: 0;
}
.field {
  margin: 15px 0;
}
.button {
  background: #fff;
  color: #058bb8;
  margin-top: 30px;
}
.signUp {
  margin-top: 20px;
  text-decoration: none;
}
.signUpLink,
.signUpLink:hover {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1000px) {
  .container {
    width: 40%;
    margin-top: 8%;
  }
}
