.flex-column {
  margin-top: 60px;
  padding: 20px 0;
  background: #fafaff;
  height: 200vh;
}
.profileImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 20px;
}
.bioCard {
  text-align: center;
}
.bio {
  text-align: center;
  margin: 20px;
}
.nav-pills .nav-link {
  color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent;
  color: #058bb8;
  border-right: 5px solid #058bb8;
}
