.home-component {
  background: linear-gradient(to bottom left, #058bb8 0%, #14d9d9 100%);
  color: #072a40;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.mainCard {
  text-align: center;
  width: 50%;
  margin: 35vh auto;
}
.btn {
  background-color: #000742 !important;
  color: #f277d1 !important;
  width: 120px;
  border-radius: 10px;
  outline: 0;
}
.left-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #000742;
  border: 0;
  float: right;
  margin: 6vh 50px 0 0;
}
