.courseMenu {
  margin-top: 30vh;
  /* text-align: center; */
}
.scrollMenu {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.courseDesc {
  white-space: normal;
}
.card-con {
  overflow-x: scroll;
  width: 100%;
  margin: -17px auto;
  padding: 60px;
}
.card-con::-webkit-scrollbar {
  display: none;
}
/* .arrowBtns {
  margin: 10vh -7.5vw 0 78vw;
}
.fa-chevron-left {
  margin-right: 25px;
} */

/*.arrowBtns .fa-chevron-left{
  margin-left:10% ;
  z-index: 5;
}*/
.arrowBtns {
width: max-content;
margin: 3% 92%;
}
.btn{
  margin-left: 45%;
}
@media (max-width: 870px) {
.arrowBtns {
  margin: 0 80%;
}
} 
